<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>enterTAYment</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/light-logo.png" alt="entertayment logo"/></a>
    <div class="navlink" id="logoutButton"><a href="/logout">LOG OUT</a></div>
      <div class="navlink" id="changePassButton"><a href="/changePass">CHANGE PASSWORD</a></div>
  </nav>
    <div id="mainShowDiv">
  <section id="filtering">
  </section>
  <section id="makeShow">
  </section>
  <section id="shows">
  </section>
        
  <section id="deleteAll">
  </section>
  </div>
  <section id="passChange">
  </section>
  <div id="showMessage">
    <span id="errorMessage"></span>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>