<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/login">Login</a></div>
    <div class="navlink"><a href="/signup">Sign up</a></div>
  </nav>
  <section id="login">
    <form id="loginForm" name="loginForm" action="/login" method="POST" class="mainForm">
      <label for="username">Username: </label>
      <input id="user" type="text" name="username" placeholder="username"/>
      <label for="pass">Password: </label>
      <input id="pass" type="password" name="pass" placeholder="password"/>
      <input class="formSubmit" type="submit" value="Sign In" />
    </form>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage">Wrong username or password</span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>