@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Hind Guntur', sans-serif;
    background-color: #f7f9fb;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #f0806c;
    margin-bottom: 50px;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    color: black;
    font-size: 20px;
    float: left;
    padding: 5px;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: black;
    text-decoration: none;
    border-radius: 4px;
    background-color: #ffefeb;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 200px;
}

.navlink a:hover {
    transition: background-color 0.3s ease;
    background-color: #fcc6b1;
}

.showForm {
    border: none;
    height: 350px;
    width: 300px;
    margin-top:0px;
    padding: 20px;
    background-color: #fcc6b1;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    float: left;
    margin-left: 50px;
}

.inputFields {
    float: left;
    margin-bottom: 20px;
}

.showForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: black;
}

.showForm input[type=text], #showStatus, #showService {
    float:left;
    height: 30px;
    padding-left: 5px;
    width: 195px;
    font-family: 'Hind Guntur', sans-serif;
}

.btnHolder {
    text-align: center;
    width: 300px;
}

.makeShowSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    height: 30px;
    background-color: #ffefeb;
    border-radius: 10px;
    border: none;
    color: black;
    text-decoration: none;
    margin-top: 15px;
    font-family: 'Hind Guntur', sans-serif;
}

.makeShowSubmit:link, .makeShowSubmit:visited, .makeShowSubmit:hover, .makeShowSubmit:active {
    color: black;
}

.makeShowSubmit:hover {
    transition: background-color 0.2s ease;
    background-color: #f0806c;
}

.mainForm {
    height: 150px;
    width: 300px;
    margin: 0 auto;
    margin-top: 325px;
    padding: 15px;
    font-size: 1.2em;
    background-color: #f0806c;
    border-radius: 10px;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    text-align: right;
    font-size: 16px;
}

.formSubmit {
    transition: background-color 0.2s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #ffefeb;
    border-radius: 2px;
    border: none;
    color: black;
    text-decoration: none;
    font-family: 'Hind Guntur', sans-serif;
    height: 40px;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: black;
}

.formSubmit:hover {
    transition: background-color 0.2s ease;
    background-color: #fcc6b1;
}

#user, #pass, #pass2 {
    font-family: 'Hind Guntur', sans-serif;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 5px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#showMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#showMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#show {
    z-index: 225;
    margin-top: 0px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#shows {
    width: 70%;
    min-width: 400px;
    border: none;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 425px;
}

.show {
    width: 95%;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    background-color: #fcc6b1;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.show:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 0.2s ease-out;
    background-color: #f0806c;
}

img.showFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyShow {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.showName {
    float: left;
    width: 25%;
    padding-left: 15px;
    font-size: 1.5em;
    font-weight: normal;
}

h3.showRating, h3.showService, h3.showStatus {
    float: left;
    text-align: left;
    width: 13%;
    padding-right: 40px;
    font-size: 1.2em;
    font-weight: normal;
}

h3.showStatus {
    width: 20%;
}

.editShow {
    float: right;
    font-family: 'Hind Guntur', sans-serif;
}

.show:first-child {
    margin-top: 10px;
}

.show:last-child {
    margin-bottom:10px;
}