@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Hind Guntur', sans-serif;
    background-color: #f7f9fb;
}

#logo {
    height: 40px;
    float:left;
    border-radius: 8px;
    padding-left: 20px;
}

#frontLogo {
    height: 60px;
    margin-left: 120px;
    margin-bottom: 15px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #f0806c;
    margin-bottom: 50px;
    padding-top: 15px;
}

.navlink {
    color: #ffefeb;
    font-size: 20px;
    float: right;
    padding: 5px;
}

.navlink a {
    color: #ffefeb;
    text-decoration: none;
    border-radius: 4px;
    background-color: none;
    width: 100px;
    height: 200px;
    font-weight: bold;
}

#loginButton {
    margin-right: 15px;
}

#signupButton, #logoutButton {
    margin-right: 20px;
}

.navlink a:hover {
    color: #fcc6b1;
}

.showForm {
    border: none;
    height: 425px;
    width: 300px;
    margin-top:0px;
    padding: 20px;
    background-color: #fcc6b1;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    float: left;
    margin-left: 50px;
}

.inputFields {
    float: left;
    margin-bottom: 20px;
}

.showForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: black;
}

.showForm input[type=text], #showRating, #showStatus, #showService {
    float:left;
    height: 30px;
    padding-left: 5px;
    width: 195px;
    font-family: 'Hind Guntur', sans-serif;
    border: none;
    border-bottom: 2px solid #f0806c;
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
}

.showForm input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid #7d7d7d;
}

.btnHolder {
    text-align: center;
    width: 300px;
}

.makeShowSubmit, .editShow {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    height: 30px;
    background-color: #ffefeb;
    border-radius: 10px;
    border: none;
    color: black;
    text-decoration: none;
    margin-top: 15px;
    font-family: 'Hind Guntur', sans-serif;
    padding-top: 4px;
    cursor: pointer;
}

.makeShowSubmit:hover {
    transition: background-color 0.2s ease;
    background-color: #f0806c;
}

.editShow:hover {
    background-color: #f0806c;
    transition: background-color 0.2s ease;
}

.mainForm {
    height: 205px;
    width: 300px;
    margin: 0 auto;
    margin-top: 325px;
    padding: 15px;
    font-size: 1.2em;
    background-color: #f0806c;
    border-radius: 10px;
}

#signupForm {
    height: 240px;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    text-align: right;
    font-size: 16px;
}

.formSubmit {
    transition: background-color 0.2s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #ffefeb;
    border-radius: 15px;
    border: none;
    color: black;
    text-decoration: none;
    font-family: 'Hind Guntur', sans-serif;
    height: 40px;
    cursor: pointer;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: black;
}

.formSubmit:hover {
    transition: background-color 0.2s ease;
    background-color: #fcc6b1;
}

.formSubmit:focus {
    outline: none;
}

#user, #pass, #pass2 {
    font-family: 'Hind Guntur', sans-serif;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 2px solid #fcc6b1;
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    border-bottom: 2px solid #7d7d7d;
}

#showMessage {
    display: none;
    top: 100px;
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 200;
    margin-left: 60px;
    overflow: hidden;
    font-size: 20px;
}

#errorMessage {
    font-family: 'Hind Guntur', sans-serif;
    color: #f0806c;
}

#show {
    z-index: 225;
    margin-top: 0px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#shows {
    width: 70%;
    min-width: 400px;
    border: none;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 425px;
}

.show {
    width: 95%;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 6px;
    border-radius: 8px;
    background-color: #fcc6b1;
    padding: 0px 10px 10px 10px;
    overflow: hidden;
    height: 100px;
}

.show:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 0.2s ease-out;
    background-color: #ffafa1;
}

.Complete {
    background-color: #dbdbdb;
}

.Complete:hover {
    background-color: #bfbfbf;
}

img.showLogo {
    margin-left: 15px;
    margin-right: 10px;
    height: 55px;
    width: 55px;
    margin-top:25px;
    float:left;
}

h3.emptyShow {
    width: 400px;
    font-size: 1.6em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.showName {
    float: left;
    width: 25%;
    padding-left: 15px;
    font-size: 1.3em;
    font-weight: bold;
    padding-right: 60px;
}

h3.showRating, h3.showStatus {
    float: left;
    text-align: left;
    width: 13%;
    padding-right: 40px;
    font-size: 1.1em;
    font-weight: normal;
}

h3.showStatus {
    width: 15%;
}

.editShow {
    float: right;
    font-family: 'Hind Guntur', sans-serif;
    padding: 0;
    margin-top: 65px;
    width: 10%;
}

#filterForm {
    margin-left: 450px;
}

.filterBoxes {
    margin-left: 20px;
}

.directions {
    font-size: 0.93em;
    margin-bottom: 30px;
}
